.navigation {
    color: #333333;
    margin-top: 40px;
    text-transform: uppercase;
  }

  .last-element {
    border-radius: 0 0 10px 0 ;
    }

    .first-element {
         border-radius: 0 10px 0 0 ;
        }
  
  .links {
    writing-mode: vertical-lr;
    padding: 15px;
    margin-top: 5px;
    cursor: pointer;
    z-index: 10;
  } 
    
  /* .links:hover {
    background-color: #333333;
  } */ 
  