
@font-face {
  font-family: 'Josefin Sans';
  src: url('./components/Utils/Fonts/JosefinSans-Bold.woff2') format('woff2'),
      url('./components/Utils/Fonts/JosefinSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('./components/Utils/Fonts/JosefinSans-Regular.woff2') format('woff2'),
      url('./components/Utils/Fonts/JosefinSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('./components/Utils/Fonts/JosefinSans-Light.woff2') format('woff2'),
      url('./components/Utils/Fonts/JosefinSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('./components/Utils/Fonts/JosefinSans-ExtraLight.woff2') format('woff2'),
      url('./components/Utils/Fonts/JosefinSans-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('./components/Utils/Fonts/JosefinSans-Medium.woff2') format('woff2'),
      url('./components/Utils/Fonts/JosefinSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('./components/Utils/Fonts/JosefinSans-SemiBold.woff2') format('woff2'),
      url('./components/Utils/Fonts/JosefinSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}




body {
  font-family: 'Josefin Sans';
  font-weight: 500;
}

.navigation {
    color: #333333;
    margin-top: 40px;
    text-transform: uppercase;
  }

  .last-element {
    border-radius: 0 0 10px 0 ;
    }

    .first-element {
         border-radius: 0 10px 0 0 ;
        }
  
  .links {
    writing-mode: vertical-lr;
    padding: 15px;
    margin-top: 5px;
    cursor: pointer;
    z-index: 10;
  } 
    
  /* .links:hover {
    background-color: #333333;
  } */ 
  